<div class="page-header">
    <h3>How to use this menu</h3>
</div>
<div>
    <ol class="list-group">
        <li class="list-group-item"><span class="badge">1</span>Click a tweet on the right side of this screen</li>
        <li class="list-group-item"><span class="badge">2</span>Click a place on map, or double click on existing marker</li>
        <li class="list-group-item"><span class="badge">3</span>Input a proper text on that form</li>
        <li class="list-group-item"><span class="badge">4</span>You can leave the <strong>bottom</strong> input blank (or erase all text)</li>
    </ol>
</div>
